@import url('https://fonts.googleapis.com/css?family=Slabo+27px');


.heading-font {
font-family:Catamaran, Helvetica, Arial, sans-serif;
font-weight:200;
letter-spacing:1px
}
.body-font {
font-family:Muli, Helvetica, Arial, sans-serif
}
.alt-font {
font-family:Lato, Helvetica, Arial, sans-serif;
text-transform:uppercase;
letter-spacing:2px
}
body, html {
height:100%;
width:100%
}
body {
font-family:Muli, Helvetica, Arial, sans-serif;
webkit-tap-highlight-color:#222
}

/*Navigation styling*/
.navbar-default, .navbar-default .navbar-header .navbar-brand, h1, h2, h3, h4, h5, h6 {
	font-family:Catamaran, Helvetica, Arial, sans-serif;
	font-weight:200;
	letter-spacing:1px
}
a {
	transition:all .35s;
	color: #fff;
}
a:hover {
	color:#fff;
}
hr {
	max-width:100px;
	margin:25px auto 0;
	border-width:3px;
	border-color:rgba(34,34,34, .3)
}
hr.light {
	border-color:#fff
}
p {
	font-size:18px;
	line-height:1.5;
	margin-bottom:20px
}
.navbar-default {
	background-color:#fff;
	border-color:rgba(34,34,34,.05);
	-webkit-transition:all .35s;
	-moz-transition:all .35s;
	transition:all .35s
}
.navbar-default .navbar-header .navbar-brand {
	color:dimgrey;
}
.btn, .navbar-default .nav>li>a {
	font-family:Lato, Helvetica, Arial, sans-serif;
	text-transform:uppercase;
	letter-spacing:2px
}
.navbar-default .navbar-header .navbar-brand:focus, .navbar-default .navbar-header .navbar-brand:hover {
	color:#222
}
.navbar-default .navbar-header .navbar-toggle {
	font-size:12px;
	color:black;
	padding:8px 10px
}
.navbar-default .nav>li>a {
	font-size:11px
}
.navbar-default .nav>li>a, .navbar-default .nav>li>a:focus {
	color:dimgrey
}
.navbar-default .nav>li>a:focus:hover, .navbar-default .nav>li>a:hover {
	color:#222
}
.navbar-default .nav>li.active>a:focus:hover, .navbar-default .nav>li.active>a:hover {
	color:dimgrey!important;
	background-color:transparent
}

@media (min-width:768px) {
	.navbar-default {
		background-color:transparent;
		border-color:transparent
	}
	.navbar-default .navbar-header .navbar-brand {
		color:rgba(255,255,255,.7)
	}
	.navbar-default .navbar-header .navbar-brand:focus, .navbar-default .navbar-header .navbar-brand:hover {
		color:#fff
	}
	.navbar-default .nav>li>a, .navbar-default .nav>li>a:focus {
		color:rgba(255,255,255,.6)
	}
	.navbar-default .nav>li>a:focus:hover, .navbar-default .nav>li>a:hover {
		color:dimgrey;
	}
	.navbar-default.affix {
		background-color:#fff;
		border-color:rgba(34,34,34,.2)
	}
	.navbar-default.affix .navbar-header .navbar-brand {
		color:dimgrey
	}
	.navbar-default.affix .navbar-header .navbar-brand:focus, .navbar-default.affix .navbar-header .navbar-brand:hover {
		color:#222
	}
	.navbar-default.affix .nav>li>a, .navbar-default.affix .nav>li>a:focus {
		color:dimgrey
	}
	.navbar-default.affix .nav>li>a:focus:hover, .navbar-default.affix .nav>li>a:hover {
		color:#222
	}
}

/*Landing Page styling*/
header{
	position:relative;
	width:100%;
	overflow-y:hidden;
	background:url('../img/landing-image.jpg');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}

header .header-content {
	text-align: center;
	position:relative;
	height:100vh;
}
header .header-content .header-content-inner {
	position:relative;
	max-width:500px;
	top:45%;
}

.btn{
	border: 1px solid black;
	border-radius: 300px; 
	padding: 12px
}

.btn:hover{
	background-color:#222;
	color: #fff;
}


.header-content-inner h1 {
	margin-top:0;
	margin-bottom:30px;
	font-family: 'Slabo 27px', serif;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 4px;
	line-height: 4rem;
}

@media (min-width:768px) {
	header {
		height:100vh;
	}
	header .header-content {
		text-align:left;
		padding:0;
		height:100vh
	}
	header .header-content .header-content-inner {
		max-width:none;
		margin:0;
		position:absolute;
		top:45%;
	}
	header .header-content .header-content-inner h1 {
		font-size:40px!important;
		line-height: 5rem;
	}
}
	
footer, section.contact {
	text-align:center
}
@media (min-width:992px) {
	header .header-content .header-content-inner h1 {
		font-size:50px
	}
}
section {
	padding:100px 0
}
section h2 {
	font-size:50px
}

/*About section styling*/
.bg-primary {
	background:dimgrey;
}
section.about {
	padding:150px 0;
	position:relative
}
section.about h2 {
	margin-top:0;
	font-size:50px
}
/*About section bigger screens*/
@media (min-width:768px) {
	section.about h2 {
		font-size:50px;
	}
}

/*Meet excos styling*/
section.meetexcos .section-heading {
margin-bottom:70px
}

section.meetexcos .feature-item {
text-align:center;
margin-bottom:100px
}
section.contact h2, section.cta .cta-content h2 {
margin-top:0;
margin-bottom:25px
}
section.meetexcos .feature-item h3 {
font-size:30px
}
section.meetexcos .feature-item i {
font-size:60px;
background:-webkit-linear-gradient(to left, #7b4397, #dc2430);
background:linear-gradient(to left, #7b4397, #dc2430);
-webkit-background-clip:text;
-webkit-text-fill-color:transparent
}


section.messages {
	position:relative;
	padding:100px 0;
	background-color:dimgrey;
}
section.messages .messages-content {
	position:relative;
	display: flex;
	justify-content: center;
	align-content: center;
}

input{
	text-align: center;
	height: 30px;
	width:200px;
	background-color: #fff;
	border: 0.2px solid #222;
	color:#fff; 
}

.btn-search{
	margin-top:10px; 
	padding: 5px!important;
	font-size: 11px;
	width: 100px;
}

.messages-search{
	margin-top: 2em;
}
section.messages .messages-content h2 {
	color:#fff;
	max-width:450px;
	font-size:50px
}
@media (min-width:768px) {
	
	input{
		width: 470px;
	}

	.btn-search{
		margin-top:10px; 
		padding: 5px!important;
		font-size: 11px;
		width: 200px;
	}
}
footer ul, section.contact ul.list-social {
margin-bottom:0
}

footer p, footer ul li a {
font-size:20px
}
footer, footer ul li a {
color:rgba(255,255,255,.3)
}
footer {
background-color:#222;
padding:25px 0
}
footer p {
margin:0
}
footer ul li a.active, footer ul li a:active, footer ul li a:focus, footer ul li a:hover {
text-decoration:none
}


